node_modules
02NPM/node_modules
03express/node_modules
04Ghost/node_modules
05-socket-io/00Contador/node_modules
05-socket-io/01-chat/node_modules
06ApiCrudMysql/node_modules
07ApiCrudMysql/node_modules
08ApiRestMysql/node_modules
09ApiRestMongoDB/node_modules

Practicas/00CrudNode/node_modules
Practicas/01CrudHospitalNode/node_modules
