<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Crud Hospital
    link(rel="stylesheet", href="/estilos.css")
  body

    header
      ul.menu
        li: a(href="/agregar-doctor") Agregar Doctor
        li: a(href="/agregar-paciente") Agregar Paciente
        li: a(href="/generar-cita") Generar Cita
        li: a(href="#") Ver citas Generadas


    block content